############################################################
#                 NAUKRIBOT CONFIGURATION
############################################################

# ==========================================================
# GMAIL CONFIGURATION
# ==========================================================

GMAIL_USER=your_email@gmail.com

GMAIL_APP_PASSWORD=your_16_character_app_password

RECIPIENT_EMAIL=your_email@gmail.com

# ==========================================================
# NAUKRI CONFIGURATION
# ==========================================================

NAUKRI_HOME=https://www.naukri.com

NAUKRI_PROFILE=https://www.naukri.com/mnjuser/profile?id=&altresid

# ==========================================================
# PROJECT PATH
# ==========================================================

BASE_DIR=C:\NaukriBot

CHROME_PROFILE=C:\NaukriBot\ChromeProfile

RESUME_PATH=C:\NaukriBot\Resume\Gulshan_Kumar_SRE_Resume.docx

LOG_FOLDER=C:\NaukriBot\Logs

SCREENSHOT_FOLDER=C:\NaukriBot\Screenshots

BACKUP_FOLDER=C:\NaukriBot\Backup

# ==========================================================
# CHROME
# ==========================================================

HEADLESS=False

WINDOW_WIDTH=1920

WINDOW_HEIGHT=1080

# ==========================================================
# WAIT
# ==========================================================

PAGE_TIMEOUT=60

ELEMENT_TIMEOUT=30

SHORT_WAIT=5

LONG_WAIT=10

# ==========================================================
# VERSION
# ==========================================================

PROJECT_NAME=NaukriBot

VERSION=1.0.0